@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FBFBFB;
}

.kontainer-utama {
    width: 1280px;
    height: 2428px;
    position: relative;
    background: #FBFBFB;
    overflow: hidden;
    margin: 0 auto;
}

.judul-halaman {
    width: 330px;
    height: 47px;
    left: 475px;
    top: 189px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-weight: 700;
}

.gambar-utama {
    width: 474.46px;
    height: 307px;
    left: 135px;
    top: 286px;
    position: absolute;
    box-shadow: -25px 25px 4px rgba(0, 0, 0, 0.50);
    overflow: hidden;
    border-radius: 30px;
}

.gambar-utama img {
    width: 647px;
    height: 432px;
    left: -92px;
    top: -85px;
    position: absolute;
}

.kontainer-penyebab {
    width: 429.37px;
    height: 247px;
    left: 740.63px;
    top: 323px;
    position: absolute;
}

.judul-penyebab {
    width: 190px;
    height: 47px;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 47px;
}

.teks-penyebab {
    width: 419px;
    height: 200px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.judul-contoh {
    width: 369px;
    height: 87px;
    left: 455px;
    top: 743px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.kartu-contoh {
    width: 400px;
    height: 129px;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    outline: 2px #EE8F13 solid;
}

.kartu-contoh-1 {
    left: 110px;
    top: 860px;
}

.kartu-contoh-2 {
    left: 770px;
    top: 956px;
}

.kartu-contoh-3 {
    left: 110px;
    top: 1068px;
}

.kartu-contoh-4 {
    left: 770px;
    top: 1165px;
}

.kartu-contoh-5 {
    left: 110px;
    top: 1278px;
}

.kartu-contoh-6 {
    left: 770px;
    top: 1374px;
}

.kartu-contoh img {
    position: absolute;
}

.kartu-contoh-1 img {
    width: 417px;
    height: 362px;
    left: -9px;
    top: -102px;
}

.kartu-contoh-2 img {
    width: 418px;
    height: 297px;
    left: -18px;
    top: -168px;
}

.kartu-contoh-3 img {
    width: 404px;
    height: 222px;
    left: -4px;
    top: -20px;
}

.kartu-contoh-4 img {
    width: 413px;
    height: 275px;
    left: -13px;
    top: -43px;
}

.kartu-contoh-5 img {
    width: 406px;
    height: 304px;
    left: -6px;
    top: -97px;
}

.kartu-contoh-6 img {
    width: 405px;
    height: 269px;
    left: -5px;
    top: -111px;
}

.overlay-kartu {
    width: 400px;
    height: 129px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(31.87, 31.87, 31.87, 0.47);
    border-radius: 20px;
}

.teks-kartu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.titik-timeline {
    width: 29.67px;
    height: 29.86px;
    position: absolute;
    background: linear-gradient(180deg, #EE8F13 0%, #BF450C 100%);
    border-radius: 9999px;
    left: 626px;
}

.titik-1 {
    top: 894px;
}

.titik-2 {
    top: 983.86px;
}

.titik-3 {
    top: 1073.72px;
}

.titik-4 {
    top: 1163.58px;
}

.titik-5 {
    top: 1253.45px;
}

.titik-6 {
    top: 1343.31px;
}

.titik-7 {
    top: 1433.17px;
}

/* Footer */
.footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 4rem;
}